DSE_Abgabe2Projekt/WebContent/wsdl/alleservices_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:tns="http://services.soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://services.soap/" version="1.0">
<xs:element name="Benutzer" type="tns:benutzer"/>
<xs:element name="Person" type="tns:person"/>
<xs:element name="Produkt" type="tns:produkt"/>
<xs:element name="Produktgruppe" type="tns:produktgruppe"/>
<xs:element name="adminAnlegen" type="tns:adminAnlegen"/>
<xs:element name="adminAnlegenResponse" type="tns:adminAnlegenResponse"/>
<xs:element name="adressdatenAendern" type="tns:adressdatenAendern"/>
<xs:element name="adressdatenAendernResponse" type="tns:adressdatenAendernResponse"/>
<xs:element name="benutzerAnlegen" type="tns:benutzerAnlegen"/>
<xs:element name="benutzerAnlegenResponse" type="tns:benutzerAnlegenResponse"/>
<xs:element name="benutzerEinfAufheben" type="tns:benutzerEinfAufheben"/>
<xs:element name="benutzerEinfAufhebenResponse" type="tns:benutzerEinfAufhebenResponse"/>
<xs:element name="benutzerEinfrieren" type="tns:benutzerEinfrieren"/>
<xs:element name="benutzerEinfrierenResponse" type="tns:benutzerEinfrierenResponse"/>
<xs:element name="benutzerloeschen" type="tns:benutzerloeschen"/>
<xs:element name="benutzerloeschenResponse" type="tns:benutzerloeschenResponse"/>
<xs:element name="gebotAbgeben" type="tns:gebotAbgeben"/>
<xs:element name="gebotAbgebenResponse" type="tns:gebotAbgebenResponse"/>
<xs:element name="gebotLoeschen" type="tns:gebotLoeschen"/>
<xs:element name="gebotLoeschenResponse" type="tns:gebotLoeschenResponse"/>
<xs:element name="getBenutzerliste" type="tns:getBenutzerliste"/>
<xs:element name="getBenutzerlisteResponse" type="tns:getBenutzerlisteResponse"/>
<xs:element name="getGebotshistorieVonBenutzer" type="tns:getGebotshistorieVonBenutzer"/>
<xs:element name="getGebotshistorieVonBenutzerResponse" type="tns:getGebotshistorieVonBenutzerResponse"/>
<xs:element name="getPersonByUsername" type="tns:getPersonByUsername"/>
<xs:element name="getPersonByUsernameResponse" type="tns:getPersonByUsernameResponse"/>
<xs:element name="getProduktByID" type="tns:getProduktByID"/>
<xs:element name="getProduktByIDResponse" type="tns:getProduktByIDResponse"/>
<xs:element name="getProduktListe" type="tns:getProduktListe"/>
<xs:element name="getProduktListeOhne" type="tns:getProduktListeOhne"/>
<xs:element name="getProduktListeOhneResponse" type="tns:getProduktListeOhneResponse"/>
<xs:element name="getProduktListeResponse" type="tns:getProduktListeResponse"/>
<xs:element name="getProduktgruppeByName" type="tns:getProduktgruppeByName"/>
<xs:element name="getProduktgruppeByNameResponse" type="tns:getProduktgruppeByNameResponse"/>
<xs:element name="getProduktgruppeList" type="tns:getProduktgruppeList"/>
<xs:element name="getProduktgruppeListResponse" type="tns:getProduktgruppeListResponse"/>
<xs:element name="getVerkaufteProdukteVonBenutzer" type="tns:getVerkaufteProdukteVonBenutzer"/>
<xs:element name="getVerkaufteProdukteVonBenutzerResponse" type="tns:getVerkaufteProdukteVonBenutzerResponse"/>
<xs:element name="getZumVerkaufStehendeProdukteVonBenutzer" type="tns:getZumVerkaufStehendeProdukteVonBenutzer"/>
<xs:element name="getZumVerkaufStehendeProdukteVonBenutzerResponse" type="tns:getZumVerkaufStehendeProdukteVonBenutzerResponse"/>
<xs:element name="passwortAendern" type="tns:passwortAendern"/>
<xs:element name="passwortAendernResponse" type="tns:passwortAendernResponse"/>
<xs:element name="produktAendern" type="tns:produktAendern"/>
<xs:element name="produktAendernResponse" type="tns:produktAendernResponse"/>
<xs:element name="produktAnlegen" type="tns:produktAnlegen"/>
<xs:element name="produktAnlegenResponse" type="tns:produktAnlegenResponse"/>
<xs:element name="produktLoeschen" type="tns:produktLoeschen"/>
<xs:element name="produktLoeschenResponse" type="tns:produktLoeschenResponse"/>
<xs:element name="produktVerschieben" type="tns:produktVerschieben"/>
<xs:element name="produktVerschiebenResponse" type="tns:produktVerschiebenResponse"/>
<xs:element name="produktgruppeAendern" type="tns:produktgruppeAendern"/>
<xs:element name="produktgruppeAendernResponse" type="tns:produktgruppeAendernResponse"/>
<xs:element name="produktgruppeAnlegen" type="tns:produktgruppeAnlegen"/>
<xs:element name="produktgruppeAnlegenResponse" type="tns:produktgruppeAnlegenResponse"/>
<xs:element name="produktgruppeLoeschen" type="tns:produktgruppeLoeschen"/>
<xs:element name="produktgruppeLoeschenResponse" type="tns:produktgruppeLoeschenResponse"/>
<xs:element name="pruefeLogin" type="tns:pruefeLogin"/>
<xs:element name="pruefeLoginResponse" type="tns:pruefeLoginResponse"/>
<xs:element name="sucheProdukt" type="tns:sucheProdukt"/>
<xs:element name="sucheProduktResponse" type="tns:sucheProduktResponse"/>
<xs:complexType name="getProduktListeOhne">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getProduktListeOhneResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:produktOhneGruppe"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktOhneGruppe">
    <xs:sequence>
      <xs:element name="aktuellesGebot" type="xs:double"/>
      <xs:element minOccurs="0" name="beschreibung" type="xs:string"/>
      <xs:element minOccurs="0" name="besitzer" type="xs:string"/>
      <xs:element name="dauer" type="xs:int"/>
      <xs:element minOccurs="0" name="enddatum" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="hoechstbietender" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="produktID" type="xs:string"/>
      <xs:element minOccurs="0" name="produktgruppe" type="xs:string"/>
      <xs:element minOccurs="0" name="startdatum" type="xs:dateTime"/>
      <xs:element name="startpreis" type="xs:double"/>
      <xs:element name="verkauft" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="pruefeLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="pruefeLoginResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="benutzerAnlegen">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element name="arg3" type="xs:int"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element name="arg6" type="xs:int"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
      <xs:element minOccurs="0" name="arg8" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="benutzerAnlegenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="benutzerloeschen">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="benutzerloeschenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getProduktgruppeByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getProduktgruppeByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:produktgruppe"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktgruppe">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="liste" nillable="true" type="tns:produkt"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produkt">
    <xs:sequence>
      <xs:element name="aktuellesGebot" type="xs:double"/>
      <xs:element minOccurs="0" name="beschreibung" type="xs:string"/>
      <xs:element minOccurs="0" name="besitzer" type="tns:person"/>
      <xs:element name="dauer" type="xs:int"/>
      <xs:element minOccurs="0" name="enddatum" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="hoechstbietender" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="produktID" type="xs:string"/>
      <xs:element minOccurs="0" name="produktgruppe" type="tns:produktgruppe"/>
      <xs:element minOccurs="0" name="startdatum" type="xs:dateTime"/>
      <xs:element name="startpreis" type="xs:double"/>
      <xs:element name="verkauft" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType abstract="true" name="person">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element name="hausnummer" type="xs:int"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="liste" nillable="true" type="tns:produkt"/>
      <xs:element minOccurs="0" name="nachname" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element name="plz" type="xs:int"/>
      <xs:element minOccurs="0" name="strasse" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="vorname" type="xs:string"/>
      <xs:element minOccurs="0" name="wohnort" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getPersonByUsername">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getPersonByUsernameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="benutzerEinfAufheben">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="benutzerEinfAufhebenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="benutzerEinfrieren">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="benutzerEinfrierenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getProduktByID">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getProduktByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:produkt"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="adminAnlegen">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element name="arg3" type="xs:int"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element name="arg6" type="xs:int"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
      <xs:element minOccurs="0" name="arg8" type="xs:string"/>
      <xs:element name="arg9" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="adminAnlegenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="gebotAbgeben">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:double"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="gebotAbgebenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getProduktgruppeList">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getProduktgruppeListResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:produktgruppe"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="adressdatenAendern">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element name="arg4" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="adressdatenAendernResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getProduktListe">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getProduktListeResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:produkt"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVerkaufteProdukteVonBenutzer">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVerkaufteProdukteVonBenutzerResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:produkt"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktAendern">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element name="arg2" type="xs:double"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element name="arg5" type="xs:int"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktAendernResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktgruppeAnlegen">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktgruppeAnlegenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktgruppeLoeschen">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktgruppeLoeschenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktVerschieben">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktVerschiebenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sucheProdukt">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sucheProduktResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:produkt"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktgruppeAendern">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktgruppeAendernResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getBenutzerliste">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getBenutzerlisteResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:benutzer"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="benutzer">
    <xs:complexContent>
      <xs:extension base="tns:person">
        <xs:sequence>
          <xs:element name="istEingefroren" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="gebotLoeschen">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="gebotLoeschenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="passwortAendern">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="passwortAendernResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getZumVerkaufStehendeProdukteVonBenutzer">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getZumVerkaufStehendeProdukteVonBenutzerResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:produkt"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktLoeschen">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktLoeschenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getGebotshistorieVonBenutzer">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getGebotshistorieVonBenutzerResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:produkt"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktAnlegen">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:double"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element name="arg4" type="xs:int"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="produktAnlegenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
